<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 밑의 네임스페이스랑 파일네임이랑 인터페이스 이름이 같아야 메소드를 걸어준다 -->
<mapper namespace="kr.childsafe.mapper.Childmapper">
    
    <!-- resultType은 갖고온걸 저기 vo에 묶어주는것임 -->
    <!-- 회원정보 띄워볼려고 만들어놓은것  -->
	<select id="memberList" resultType="kr.childsafe.domain.TMember">
	select * from t_member
	</select>
	
    <!-- 회원가입  -->
	<insert id="join" parameterType="kr.childsafe.domain.TMember">
		insert into t_member(mem_id,mem_pw,mem_name,mem_birthdate,mem_phone, mem_email, mem_addr, mem_joindate, admin_yn) 
		VALUES (#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_birthdate}, #{mem_phone}, #{mem_email},#{mem_addr}, 'sysdate', 'N')    
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="kr.childsafe.domain.TMember">
	   	select mem_Id,mem_Pw from t_member where mem_Id=#{mem_id} and mem_Pw =#{mem_pw}
	</select>
</mapper>